@import "tailwindcss";   /* forma recomendada en Tailwind v4 */

/* Opcional: usa CSS normal en vez de @apply */
body {
  background-color: #ECEFF1; /* bg-slate-50 */
  color: #263238;               /* text-slate-800 */
}
